*{
    margin: 0;
    padding: 0;
    color: white;
}
.section1{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url(../images/netfilx-background.jpg) ;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.navy{
    padding-top: 20px;
    width: 75%;
    margin: 0 auto;
    font-size: 120%;
}
.title{
    font-size: 300%;
    text-align: center;
}
.title-mini{
    font-size: 190%;
}
.title-sm{
    font-size: 150%;
}
.first-input{
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
   padding: 20px 10px;
   width: 40%;
   border: 2px solid white;
   font-size: 120%;
}
.first-input:last-child{
    
   border: 2px solid green;
}